/* Copyright (C) 2023 BeagleBoard.org Foundation
 * Copyright (C) 2023 S Prashanth
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <ti/j721e_r5.dtsi>
#include <arm/ti/j721e-pinctrl.dtsi>
#include <freq.h>

/ {
	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;
		led4 = &led4;
	};

	chosen {
		zephyr,sram = &atcm;
		zephyr,console = &uart2;
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio0 96 0>;
			label = "USR0";
		};

		led1: led_1 {
			gpios = <&gpio0 95 0>;
			label = "USR1";
		};

		led2: led_2 {
			gpios = <&gpio0 83 0>;
			label = "USR2";
		};

		led3: led_3 {
			gpios = <&gpio0 110 0>;
			label = "USR3";
		};

		led4: led_4 {
			gpios = <&gpio0 109 0>;
			label = "USR4";
		};
	};
};

&uart2 {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart2_tx_default &uart2_rx_default>;
	pinctrl-names = "default";
};

&gpio0_01 {
	status = "okay";
};

&gpio0_23 {
	status = "okay";
};

&gpio0_45 {
	status = "okay";
};

&gpio0_67 {
	status = "okay";
};

&gpio0_8 {
	status = "okay";
};

